* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color:gold;
}

#root {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.navbar {
  text-align: center;
}

.navbar h1 {
  font-family: "Fuzzy Bubbles", "Proxima Nova", sans-serif;
  font-size: 50px;
  color: teal;
  margin: 30px 0 0 0;
}

.navbar h3 {
  margin: 0;
  font-size: 15px;
}

.home {
  width: 100%;
  margin:  10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cardlist {
  height: 100%;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Zoom-in animation when new card renders */
@keyframes zoom-in {
  0% { transform: scale(0, 0); }
  100% { transform: scale(1, 1); }
}

.card {
  width: 10rem;
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border: 1px solid teal;
  border-radius: 3px;
  text-decoration: none;
  color: darkslategray;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation: zoom-in 0.4s;
  transition: 0.3s;
}

/* On card mouse-over, add a deeper shadow and white background */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  background-color: white;
}

.card-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  height: 100%;
  margin: 5px;
  color: teal;
}

.card-prep {
  height: 100%;
}

.card h3 {
  margin: 0;
} 

.card p {
  margin: 5px;
}

.searchbar {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.searchbar .search-form {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 32px;
  line-height: 1.6;
}

input {
  background-color: palegoldenrod;
  font-family: "Proxima Nova", sans-serif;
  font-size: 30px;
  color: black;
  border: none;
  border-radius: 3px;
  text-align: center;
}

select {
  background-color: palegoldenrod;
  font-family: "Proxima Nova", sans-serif;
  font-size: 30px;
  color: black;
  border-color: black;
  border-radius: 3px;
  border: none;
  text-align: center;
}

button {
  width: 7rem;
  margin: 5px;
  color: black;
  border: 2px black solid;
  border-radius: 3px;
  background-color: gold;
  padding: 3px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: teal;
  color: gold;
}

.footer {
  height: 10%;
  text-align: center;
}

.show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-card {  
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1 1fr;
  margin: auto;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 10px;
}

.show-card-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.show-card-info {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding: 7px;
}

.show-card-instructions {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 7px;
}

.show-card-h2 {
  color: teal;
}

.show-card p {
  white-space: pre-line;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h6 {
  margin: 10px;
}

.submit-h6 a {
  color: teal;
}

@media only screen and (min-width: 490px) {

  .home {
    width: 80%;
  }

  .card {
    width: 16rem;
  }

  .show-card {
    width: 75%;
    padding: 20px;
  }

  .navbar {
    display: flex;
    background-color: teal;
    color: gold;
    justify-content: space-between;
    padding: 10px;
  }

  .navbar-disclaimer {
    height: 100%;
    display: flex;
    justify-items: center;
  }

  .navbar h1 {
    color: gold;
    margin: 0;
    font-size: 60px;
  }

  .navbar button {
    background-color: teal;
    color: gold;
  }

  .navbar button:hover {
    background-color: palegoldenrod;
    color: teal;
  }
}
