* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color:gold;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.navbar {
  text-align: center;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.homepage-content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardlist {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {

  width: 30%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.searchbar .search-form {
  width: 50%;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 32px;
  line-height: 1.6;
}

input {
  background-color: palegoldenrod;
  font-family: "Proxima Nova", sans-serif;
  font-size: 32px;
  border: 1px solid teal;
  border-radius: 3px;
  text-align: center;
}

select {
  background-color: palegoldenrod;
  font-family: "Proxima Nova", sans-serif;
  font-size: 32px;
  border: 1px solid teal;
  border-radius: 3px;
  border: none;
  text-align: center;
}

.footer {
  height: 10%;
  text-align: center;
}
